<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/icon.png" type="image/png" sizes="30x30">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css">
  </head>
  <body>
    {{>header}}
    <div class='container'>
      <h1>{{ errorMessage }}</h1>
    </div>
    {{>footer}}
  </body>
</html>